{% extends 'base.html' %}

{% block title %}TaskListDjango{% endblock %}

{% block content %}

<div>
  <div class="d-flex justify-content-center pt-2 fs-2 fw-bold pt-lg-3">
    Welcome!
  </div>
  <div class="fs-5 d-flex justify-content-center px-5 px-lg-0 pt-4" style="text-align:justify">
    This is a WebApp to help you organize your Tasks. What needs to be done?
    Write it here, envite people, and share what you are doing!
  </div>
  <div class="fs-3 fw-bold d-flex justify-content-center pt-5 px-5 px-lg-0">
    What does this App do?
  </div>
  <div class="fs-5 d-flex justify-content-center px-5 px-lg-0" style="text-align:justify">
    <div>
      <div class="d-flex align-content-center pt-3">
        <div class="text-success pe-2">
          <i class="bi bi-check-circle-fill"></i>
        </div>
        <div>
          You can organize your family's Tasks in this App, such as "buy
          butter at the grocery store."
        </div>
      </div>
      <div class="d-flex align-content-center pt-2">
        <div class="text-success pe-2">
          <i class="bi bi-check-circle-fill"></i>
        </div>
        <div>
          Add Friends to the App so they can read, edit, or delete Tasks.
        </div>
      </div>
      <div class="d-flex align-content-center pt-2">
        <div class="text-success pe-2">
          <i class="bi bi-check-circle-fill"></i>
        </div>
        <div>
          Say goodbye to notes on the fridge or paper shopping lists!
        </div>
      </div>
      <div class="d-flex align-content-center pt-2">
        <div class="text-success pe-2">
          <i class="bi bi-check-circle-fill"></i>
        </div>
        <div>
          Don't forget to open the App and check the Tasks daily!
        </div>
      </div>
    </div>
  </div>
  <div class="fs-3 fw-bold d-flex justify-content-center pt-5 px-5 px-lg-0 ">
    You can Contribute
  </div>
  <div class="fs-5 d-flex justify-content-center px-5 px-lg-0 pb-5" style="text-align:justify">
    <div>
      <div class="d-flex align-content-center pt-3">
        <div class="text-secondary pe-2">
          <i class="bi bi-tools"></i>
        </div>
        <div>Give some feedback.</div>
      </div>
      <div class="d-flex align-content-center pt-2">
        <div class="text-secondary pe-2">
          <i class="bi bi-tools"></i>
        </div>
        <div>Report Bugs and Issues.</div>
      </div>
      <div class="d-flex align-content-center pt-2">
        <div class="text-secondary pe-2">
          <i class="bi bi-tools"></i>
        </div>
        <div>Suggest new ideas.</div>
      </div>
      <div class="d-flex align-content-center pt-2">
        <div class="text-secondary pe-2">
          <i class="bi bi-tools"></i>
        </div>
        <div>Contribute with Code.</div>
      </div>
    </div>
  </div>


</div>

{% endblock %}
