{% extends 'base.html' %}

{% block title %}Invitations{% endblock %}

{% block content %}

<h3>Sent Invites</h3>

{% if not sent_invites %}
  <div>No invites sent</div>
{% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">To User</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for invite in sent_invites %}
        <tr>
          <td>{{ invite.receiver.name|upper }}</td>
          <td>{{ invite.get_invite_status_display }}</td>
          <td>
            <form action="" method="post">
              <input type="hidden" name="InviteId" value="{{ invite.id }}" />
              <button class="btn btn-outline-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<h3 class="pt-5">Received Invites</h3>
{% if not received_invites %}
  <div>There are no friend requests</div>
{% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">From User</th>
        <th scope="col">Status</th>
        <th scope="col">Notification</th>
        <th scope="col">Friendship</th>
      </tr>
    </thead>
    <tbody>
{% for invite in received_invites %}
        <tr>
          <td>{{ invite.sender.name|upper }}</td>
          <td>{{ invite.get_invite_status_display }}</td>
          <td>
            <div class="d-flex flex-column gap-1" style="width: fit-content;">
              <form action="{% url 'change_invite_status' invite.id 'mark-as-read' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary btn-sm">Mark as Read</button>
              </form>
              <form action="{% url 'change_invite_status' invite.id 'mark-as-unread' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary btn-sm">Mark as Unread</button>
              </form>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column gap-1" style="width: fit-content;">
              <form action="{% url 'change_invite_status' invite.id 'accept' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success btn-sm">Accept</button>
              </form>
              <form method="post">
                <input type="hidden" name="InviteId" value="@invite.Id" />
                <button class="btn btn-outline-danger btn-sm">Delete</button>
              </form>
              {% endfor %}
            </div>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>

{% endblock %}