{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="d-flex justify-content-center">
  <div class="mt-5" style="width: 320px; padding: 45px;">
    <form asp-controller="Account" asp-action="Login" method="post" id="loginForm">
      <div asp-validation-summary="All" class="text-danger"></div>
      <h1 class="h3 mb-3 fw-normal d-flex justify-content-center">Login</h1>
      <div class="form-floating">
        <input 
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="pt-3">
        <div class="form-floating">
          <input 
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
      </div>
      <div class="pt-4 text-center d-flex gap-1">
        <p>Don't have an account?</p>
        <a class="d-flex link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Register</a>
      </div>
      <button id="submitButton" class="btn btn-primary w-100 py-2" type="submit">
        <span id="buttonText">Sign in</span>
      </button>
    </form>
  </div>
</div>

{% endblock %}