{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="d-flex justify-content-center mb-5">
  <div class="mt-5 p-3" style="width: 100%; max-width: 640px;">
    <form method="POST" action="register">
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal text-center">Register</h1>
      {% for message in messages %}
      <h5 class="text-danger">{{message}}</h5>
      {% endfor %}
      <div class="row g-3">
        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="text" name="name" class="form-control" id="nameInput" placeholder="E.g: John">
            <label for="nameInput">First Name</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-floating">
            <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="Password">
            <label for="confirmPassword">Confirm your Password</label>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <select class="form-select" name="sex">
            <option value="" selected>Sex</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="dontAnswer">Don't Answer</option>
          </select>
        </div>
        <div class="col-12 col-md-6">
          <select class="form-select" name="color">
            <option value="" selected>Color</option>
            <option value="blue">Blue</option>
            <option value="pink">Pink</option>
            <option value="green">Green</option>
          </select>
        </div>
        <div class="col-12 col-md-6">
          <select class="form-select" name="age">
            <option value="" selected>Age</option>
            <option value="18orLess">18 or Less</option>
            <option value="19to25">19 to 25</option>
            <option value="26to35">26 to 35</option>
            <option value="36to45">36 to 45</option>
            <option value="45orAbove">45 or Above</option>
          </select>
        </div>
      </div>
      <div class="pt-4 d-flex gap-1">
        <p>Already have an account?</p>
        <a class="d-flex link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
          Login
        </a>
      </div>
      <div class="pt-3">
        <button class="btn btn-primary w-100 py-2" type="submit">
          Register
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}